html {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  max-width: 200px;
}

header {
  background-color: #ddd;
}

.grey {
  background-color: #efefef;
}

table {
  min-width: 45em;
}

.white {
  background-color: #fff;
}
